@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2 class="text-center">About whipFlash</h2>
    <p class="text-center">
        whipFlash is an easy-to-use online flash card tool that makes learning accessible and fun!
        Users can create their own decks, create and edit cards, and view their study results. Log in and start whipFlash-ing today!
    </p>
    <br />
    <h2 class="text-center">Meet the Team</h2>

    <div class="row">
        <div class="imgParent col-lg-3 col-sm-6 text-center">
            <img class="bioImages" src="~/Content/Img/Bios/jimiPic.jpg" />
            <h3>Jimi Tempfli</h3>
            <p>
                Jimi likes to play tennis and sometimes his guitar.
            </p>
        </div>
        <div class="imgParent col-lg-3 col-sm-6 text-center">
            <img class="bioImages" src="~/Content/Img/Bios/jonPic.jpg" />
            <h3>Jon Bedell</h3>
            <p>
                Jon loves pencils and energy drinks.
            </p>
        </div>

        <div class="imgParent col-lg-3 col-sm-6 text-center">
            <img class="bioImages" src="~/Content/Img/Bios/amandaPic.jpg" />
            <h3>Amanda Mangas</h3>
            <p>
                Amanda loves coffee and front end development.
            </p>
        </div>

        <div class="imgParent col-lg-3 col-sm-6 text-center">
            <img class="bioImages" src="~/Content/Img/Bios/dianaPic.jpg" />
            <h3>Diana Pavlushyna</h3>
            <p>
                Diana likes salmon more than most things...
        </div>
    </div>
    <br />
    <h2 class="text-center">How it Started</h2>
    <p class="text-center">
        Created in August 2018, this web application is the result of our collaboration on a final Capstone project for the technical BootCamp,
        Tech Elevator, located in Cincinnati, OH. Tech Elevator is a 14 week program where we learned to develop in the .NET Framework. We
        created whipFLASH to demonstrate and solidify our new technical skills while providing a fun and interactive study tool with a simple user
        interface and intuitive functionality. We hope to continue developing and improving this program with many more features and a solid design.
    </p>
    <br />
    <div class="row">
        <div class="col-12 text-center">
            <img style="margin-bottom: 50px;" src="~/Content/Img/Delta_Thumbnail.jpg" />
        </div>

    </div>

</div>
