@{ 
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}



<div class="container text-center">
    <div class="row text-center">
        <div style="padding: 7px;" class="col-12">
            <a id="login_link" class="enter_links" href="/Home/Login">LOGIN</a>
        </div>
        <div style="padding: 7px;" class="col-12">
            <a id="register-link" class="enter_links" href="/Home/Register">SIGN UP</a>
        </div>
        <div style="padding: 7px;" class="col-12">
            <a id="guest_link" class="enter_links" href="/Deck/ViewDecks">DEMO whipFLASH</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @*<p>[ Scroll down for more info ]</p>*@
        </div>
    </div>
</div>
<div class="deltaTE">
    <a href="Home/About">
        <div class="homeDelta">
            <img src="~/Content/Img/Delta_Thumbnail_NoBackground.png" />
        </div>
        <div class="aboutDeltaText">
            <p>About DeltaTE</p>
        </div>
    </a>
</div>